<h2>Persons List</h2>

<!-- TODO: SOLID voilation fix - Create sperate add person component & add as composition  -->
<div>
  <label for="new-person">Lastname: </label>
  <input id="new-person" #personName />
  <button 
    type="button" 
    class="add-button" 
    (click)="addPerson(personName.value); 
    personName.value=''"
    >Add</button>
    <span>Todo: Call api/person/check-email</span>
</div>

<ul class="persons">
  <li *ngFor="let person of persons">
    <a routerLink="/person-detail/{{person.id}}">
      <span class="badge">{{person.id}}</span> {{person.lastName + ', ' + person.firstName}}
    </a>
    <br/>
    <div>
      <span>E: {{person.email}}</span>
      <span>&nbsp;|&nbsp;</span>
      <span>Dept Id: {{person.departmentId}}</span>
      <span>&nbsp;</span>  
    </div>
    <button type="button" class="edit" title="edit person"
      (click)="editPerson(person.id)">Edit</button>
  </li>
</ul>